---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import createSlug from "../lib/createSlug";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.date.localeCompare(a.data.date)
);
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  {
    projects.map((project, index) => (
      <>
        <ProjectCard
          title={project.data.title}
          img={project.data.image}
          desc={project.data.description}
          date={project.data.date}
          skills={project.data.skills}
          badge={project.data.badge}
          url={`/projects/${createSlug(project.data.title, project.id)}`}
        />
        {index < projects.length - 1 && <div class="divider my-0" />}
      </>
    ))
  }
</BaseLayout>
